.aboutus {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfcff;
    display: flex;
    justify-content: space-around;
  }
  
  .content {
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    padding: 30px;
    left: 1%;
    position: absolute;
  }
  
  .content h1 {
    font-size: 45px;
    margin-bottom: 40px;
    text-decoration: underline;
  }
  
  .content h3 {
    max-width: 450px;
  }
  .icontent h2 {
    font-size: 30px;
  }
  .icontent p{
    font-size: 16px;
    width: 80%;
  }
  .icontent{
    width:70%;
  }
  .teams h2{
    color :orangered;
  }
  .af{
    margin :20% auto 0 auto; 
    width :75%;
    display :flex;
  }
  .teams{
    width :75%;
    display :flex;
    margin: 0 auto;
  }
  .content p {
    width: 300px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .content button {
    width: 110px;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: rgb(204, 85, 0);
    color: #fbfcff;
    margin-top: 30px;
    box-shadow: 0px 1px 16px -1px rgba(0, 0, 0, 0.55);
  }
  
  .content button:hover {
    width: 110px;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 94, 36);
    color: #fbfcff;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 0px 1px 16px -1px rgba(0, 0, 0, 0.55);
    text-decoration: underline;
  }
  
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateX(30px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateX(0px) scale(1);
    }
  }
  
  .img {
    animation: fade-up 2s;
    object-fit: contain;
    position: absolute;
    right: 0%;
    z-index: 1;
  }
  
  .PhoneApp {
    position: absolute;
    /* right: 10%; */
    animation: fade-up 2s;
    z-index: 2;
    padding: 0;
    right: 43%;
    top: 45%;
  }
  
  .blob1 {
    height: 400px;
    width: 400px;
    border-radius: 70% 30% 74% 26% / 48% 30% 70% 52%;
    background-color: rgb(204, 122, 123);
    z-index: 0;
    right: 3%;
    position: absolute;
    animation: fade-up 2s;
  }
  
  .blob2 {
    height: 300px;
    width: 300px;
    border-radius: 22% 78% 43% 57% / 58% 76% 24% 42%;
    background-color: rgb(144, 218, 233);
    z-index: 0;
    right: 28%;
    position: absolute;
    animation: fade-up 2s;
  }