.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2% 5%;
}

@media (min-width: 768px) {
  .container {
      flex-direction: row;
      margin: 2% 12% 2% 17%;
  }
}

.formBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto 100px auto;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, .08);
}

@media (min-width: 768px) {
  .formBox {
      flex-direction: row;
      width: 73%;
  }
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 5% 15% 5%;
}

@media (min-width: 768px) {
  .bottom-container {
      flex-direction: row;
      justify-content: space-between;
      margin: 2% 12% 15% 17%;
  }
}

.content {
  flex: 1;
  text-align: center;
}

@media (min-width: 768px) {
  .content {
      text-align: left;
  }
}

.image {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .image {
      margin-left: 20px;
      margin-top: 0;
      text-align: left;
  }
}

.image img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1 {
      font-size: 2.7rem;
  }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2% 5%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        margin: 2% 12% 2% 17%;
    }
}

.formBox {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto 100px auto;
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, .08);
}

@media (min-width: 768px) {
    .formBox {
        flex-direction: row;
        width: 73%;
    }
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 5% 15% 5%;
}

@media (min-width: 768px) {
    .bottom-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 2% 12% 15% 17%;
    }
}

.content {
    flex: 1;
    text-align: center;
}

@media (min-width: 768px) {
    .content {
        text-align: left;
    }
}

.image {
    margin-top: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .image {
        margin-left: 20px;
        margin-top: 0;
        text-align: left;
    }
}

.image img {
    height: auto;
    max-width: 100%;
}

h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.7rem;
    }
}

h4 {
  color: crimson;
  margin-top: 10%;
}

p {
  color: darkgray;
  font-size: 0.9rem;
}