ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
}

a:-webkit-any-link:hover {
  text-decoration: underline;
  color: brown;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  color: black;
  box-shadow: 0px 8px 18px -2px rgba(14, 13, 13, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 10px 2%;
}

.header_buttons,
.header_symbols {
  text-transform: uppercase;
  padding: 10px;
  flex: 1;
  text-align: center;
}

.header_buttons a,
.header_symbols a {
  display: block;
}

.header_buttons a:hover {
  text-decoration: underline;
}

.header_symbols img {
  max-width: 100%;
  height: auto;
}

.git {
  background-color: orangered;
  text-align: center;
  border-radius: 20px;
  padding: 5px 7px;
  color: aliceblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .Header {
    justify-content: space-around;
    height: 140px;
    padding: 0;
  }

  .header_buttons,
  .header_symbols {
    flex: none;
    text-align: left;
  }

  .header_symbols img {
    height: 120px;
  }
}

