.techpage {
  height: 100vh;
  width: 100vw;
}

.tech {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  
}


.heading {
  font-size: 30px;
}


.aboutTech p {
  font-size: 16px;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateX(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}


.aboutTech{
  height: 80%;
  width: auto;
  margin: 5%;
  padding: 3%;
  
}

.grid {
  width: auto;
  max-width: 1200px; 
  height: auto;
  border-radius: 15px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  align-items: center;
  justify-content: center;
  animation: fade-up 2s;
  margin-right: 3%;
}


@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; 
    width: 95%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; 
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

