.App {
  height: 55%;
  width: 25%;
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  left: 3%;
  top: 7%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}

.bottom {
  bottom: 5%;
  width: 93%;
  height: 20%;
  position: absolute;
  display: flex;
  margin-left: 3.5%;
  margin-right: 5%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0, 0.3);
  text-align: center;
}

p {
  font-size: 12px;
}

.location p {
  font-size: 25px;
}

.description p {
  font-size: large;
  margin-left: 40%;
}

.temp {
  display: flex;
  align-items: center;
  top: 40%;
  position: absolute;
  left: 4%;
}

.location p {
  top: 30%;
  position: absolute;
  left: 4%;
}

.input {
  position: inherit;
  border-radius: 15px;
  top: 10%;
  left: 10%;
  border: white 1px solid;
  outline: none;
  padding-left: 5px;
  background-color: rgb(255, 255, 255, 0.3);
}

::placeholder {
  color: white;
}
