.Dashboard{
  padding-top: 10%;
  margin-bottom: 20px;
}

.bigbox {
  width: 70%;
  height: auto;
  background-color: #5d9de7 ;
  margin: 7vh auto auto auto;
  border-radius: 40px;
  display: flex;
  justify-content: end;
  background-image: url(../../assets/backie.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
  margin-bottom: 20px;
}

