.form-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .form-container {
    max-width: 750px;
  }
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  flex-basis: 100%;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: calc(100% - 20px);
  margin: 0 auto 15px auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: calc(50% - 20px);
    margin-right: 10px;
  }

  input[type="text"]:nth-child(2n),
  input[type="tel"]:nth-child(2n),
  input[type="email"]:nth-child(2n) {
    margin-right: 0;
  }
}

textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: calc(100% - 20px);
  margin: 10px auto;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  button[type="submit"] {
    width: auto;
  }
}
