.percentage {
  height: 80px;
  width: 160px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
  margin: 1%;
}

.percentage_bar {
  width: 75%;
  border-radius: 18px;
  height: 15%;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  transform: translate(0px,-1vh);
}

.percent {
  width: 100%;
  height: 97%;
  background-color: #5c9ee7;
}

.number {
  font-weight: bold;
  padding-left: 4px;
  transform: translate(0px,-10px);
}

.icon{
  width: 25px;
  align-self:flex-end;
  margin-top: 6px;
  opacity: 0.7;
}
progress{
  width: auto;
}

.title{
  align-self: flex-start;
  
  margin: 20px 0 0  10px;
  opacity: 0.7;
  color: black;
  font-size: small;
  transform: translate(0px,-4vh);
}