.row1 {
  height: auto; /* Allow the height to adjust */
  width: 100%;
  margin: 20px auto; /* Add some margin and center horizontally */
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow the items to wrap to the next line */
  padding: 10px; /* Add some padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}