.box {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) {
    .box {
      text-align: left;
    }
  }
  
  .box h2 {
    margin-left: 0;
    font-size: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .box h2 {
      margin-left: 30px;
    }
  }
  
  .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; 
  }
  
  @media (min-width: 768px) {
    .bottom-container {
      align-items: flex-start;
    }
  }
  
  .info-card {
    width: 100%;
    max-width: 500px;
  }
  
  @media (min-width: 768px) {
    .info-card {
      max-width: 100%;
      margin: 10px 0;
    }
  }
  