.teamCard {
    width:80%;
    margin:20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
  }
  
  .teamCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .imageContainer {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .details {
    text-align: center;
  }
  
  .name {
    font-size: 1.5rem;
    margin-bottom: 4px;
    color: #333333;
  }
  
  .position {
    font-size: 1rem;
    font-style: italic;
    color: #666666;
  }
  
  .bio {
    font-size: 1rem;
    color: #444444;
    margin-top: 8px;
  }
  