* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.main{
  margin: 13% 0 10% 0 ;
  padding-bottom: 2%;
}